[Desktop Entry]
Version=1.0
Type=Application
Name=Quran Unix
Comment=Quran Reading Application
Exec=quran-unix
Icon=quran-unix
Terminal=false
Categories=Education;Qt;X-Religion;
Keywords=Quran;Islam;Mushaf;قرآن;مصحف;إسلام;
StartupNotify=true
X-AppImage-Version=1.1.0
